[pycodestyle]
max-line-length = 120

[pylint.messages_control]
disable = missing-module-docstring

[pylint.typecheck]
disable = import-error

[pylint.design]
argument-naming-style = snake_case

[pylint.naming]
variable-rgx = [a-z_][a-z0-9_]{2,30}$

[pylint.basic]
good-names = df

[pylint.logging]
logging-format-style = new
