py4j
pandas
numpy
pandas_datareader
apache-airflow
setuptools
apache-airflow-providers-google
pyarrow
pyspark
google-auth
google-cloud-storage
google-cloud-bigquery
google-cloud-dataproc
pylint
pytest
supabase==2.4.0
python-dotenv>=0.19.0