py4j
pandas
numpy
pandas_datareader
apache-airflow==2.10.3
setuptools
apache-airflow-providers-google
pyarrow
pyspark==3.2.1
google-auth
google-cloud-storage
google-cloud-bigquery
google-cloud-dataproc
google-cloud-secret-manager
dbt-bigquery
pylint
pytest
python-dotenv>=0.19.0