py4j
pandas
numpy
pandas_datareader
apache-airflow

apache-airflow==2.2.3
apache-airflow-providers-google==6.2.0
pyarrow==5.0.0
pyspark==3.2.1
google-auth
google-cloud-storage
google-cloud-bigquery
google-cloud-dataproc